@model CWC.MVC.Models.GroupProjectViewModel
@{
    ViewBag.Title = "GroupDetails";
}

<h2>GroupDetails</h2>

<dt>
    @Html.DisplayNameFor(model => model.TeamLeader.FirstName)
</dt>

<dd>
    @Html.DisplayFor(model => model.TeamLeader.FirstName)
</dd>

