@model CWC.MVC.Models.IndividualProjectViewModel
@{
    ViewBag.Title = "IndividualDetails";
}

<h2>IndividualDetails</h2>
<dt>
    @Html.DisplayNameFor(model => model.SingleEmployeeId)
</dt>

<dd>
    @Html.DisplayFor(model => model.SingleEmployeeId)
</dd>

