
@{
    ViewBag.Title = "StatisticProducts";
}
 
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div> 
        </div>
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Charts</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon-bell"></i> Action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-shield"></i> Another action
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> Something else here
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                <i class="icon-bag"></i> Separated link
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
<h2>StatisticProducts</h2>       
 <h1 class="page-title">
            amChart
            <small>TAher : @ViewBag.count ,  charting library & maps. Where all data goes visual with amChart plugin</small>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN ROW -->
                
                <!-- END ROW -->
                <!-- BEGIN ROW -->
                
                <!-- END ROW -->
                <!-- BEGIN ROW --> 
                <!-- END ROW -->
                <!-- BEGIN ROW --> 
                <!-- END ROW -->
                <!-- BEGIN ROW -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN CHART PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-haze"></i>
                                    <span class="caption-subject bold uppercase font-green-haze"> 3D Chart</span>
                                    <span class="caption-helper">3d cylinder chart</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="javascript:;" class="reload"> </a>
                                    <a href="javascript:;" class="fullscreen"> </a>
                                    <a href="javascript:;" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="chart_5" class="chart" style="height: 400px;"> </div>
                                <div class="well margin-top-20">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="text-left">Top Radius:</label>
                                            <input class="chart_5_chart_input" data-property="topRadius" type="range" min="0" max="1.5" value="1" step="0.01" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="text-left">Angle:</label>
                                            <input class="chart_5_chart_input" data-property="angle" type="range" min="0" max="89" value="30" step="1" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="text-left">Depth:</label>
                                            <input class="chart_5_chart_input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CHART PORTLET-->
                    </div>
                </div>
                <!-- END ROW -->
                <!-- BEGIN ROW -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN CHART PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-haze"></i>
                                    <span class="caption-subject bold uppercase font-green-haze"> Simple Pie Chart</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="javascript:;" class="reload"> </a>
                                    <a href="javascript:;" class="fullscreen"> </a>
                                    <a href="javascript:;" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="chart_6" class="chart" style="height: 525px;"> </div>
                            </div>
                        </div>
                        <!-- END CHART PORTLET-->
                    </div>
                    <div class="col-md-6">
                        <!-- BEGIN CHART PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-haze"></i>
                                    <span class="caption-subject bold uppercase font-green-haze"> 3D Pie Chart</span>
                                    <span class="caption-helper">bar and line chart mix</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="javascript:;" class="reload"> </a>
                                    <a href="javascript:;" class="fullscreen"> </a>
                                    <a href="javascript:;" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="chart_7" class="chart" style="height: 400px;"> </div>
                                <div class="well margin-top-20">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="text-left">Top Radius:</label>
                                            <input class="chart_7_chart_input" data-property="topRadius" type="range" min="0" max="1.5" value="1" step="0.01" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="text-left">Angle:</label>
                                            <input class="chart_7_chart_input" data-property="angle" type="range" min="0" max="89" value="30" step="1" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="text-left">Depth:</label>
                                            <input class="chart_7_chart_input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CHART PORTLET-->
                    </div>
                </div>
                <!-- END ROW -->
                <!-- BEGIN ROW --> 
                <!-- END ROW -->
                <!-- BEGIN ROW -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN CHART PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-haze"></i>
                                    <span class="caption-subject bold uppercase font-green-haze"> Map with Bubbles</span>
                                    <span class="caption-helper">world population</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="javascript:;" class="reload"> </a>
                                    <a href="javascript:;" class="fullscreen"> </a>
                                    <a href="javascript:;" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="chart_10" class="chart" style="height: 600px;"> </div>
                            </div>
                        </div>
                        <!-- END CHART PORTLET-->
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN CHART PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-haze"></i>
                                    <span class="caption-subject bold uppercase font-green-haze"> Stock Charts</span>
                                    <span class="caption-helper">with stock events</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    <a href="javascript:;" class="reload"> </a>
                                    <a href="javascript:;" class="fullscreen"> </a>
                                    <a href="javascript:;" class="remove"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="chart_12" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                        <!-- END CHART PORTLET-->
                    </div>
                </div>
                <!-- END ROW -->
            </div>
        </div>

<script type ="text/javascript">



    d = function () {

        @*var a =@ViewBag.user;
        var tab = Array(
            45,12,10,9);*@
        var chartData = generateChartData();

        function generateChartData() {
            var chartData = [];
            var firstDate = new Date(2012, 0, 1);
            firstDate.setDate(firstDate.getDate() - 500);
            firstDate.setHours(0, 0, 0, 0);
            var cal = new Array();
            var cal = ViewBag.vls; 
         
            @*var array = @Html.Raw(Json.Encode(ViewBag.vls));
            for(var i = 0; i < array.length; i++) {
                cal[i] = array[i];
            }

            for (var i = 0; i < 10; i++) {
 
                var value = cal[i];

                chartData.push({
                    country: "i",
                    value: value
                });*@
            //}
           
            @*var val[]=@ViewBag.vls;
            var nom[] = @ViewBag.lsNom;
            for (var i = 0; i < 10; i++) {
                var newDate = new Date(firstDate);
                newDate.setDate(newDate.getDate() + i);
             //   var tt =nom[i];
                var value = Math.round(Math.random() * (40 + i)) + 100 + i;

                chartData.push({
                    country: "taher",
                    value: value
                });
            }*@

            @*var nom[] = @ViewBag.lsNom;
            var val[]=@ViewBag.vls;
            alert(nom);
            for (var i = 0; i <10; i++) {

                var value = Math.round(Math.random() * (40 + i)) + 100 + i;
                chartData.push({
                    country:"aaa",
                    value: value,
                });
            }*@
            return chartData;
        }



        var e = AmCharts.makeChart("chart_7", {
            type: "pie",
            theme: "light",
            fontFamily: "Open Sans",
            color: "#888",
            dataProvider: chartData,

            //    {
            //   country: "Lithuania",
            //  value: a
            //},

            //{
            //  country: "Latvia",
            //value: 10
            //}],
            valueField: "value",
            titleField: "country",
            outlineAlpha: .4,
            depth3D: 15,
            balloonText: "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            angle: 30,
            exportConfig: {
                menuItems: [{
                    icon: "/lib/3/images/export.png",
                    format: "png"
                }]
            }
        });
        jQuery(".chart_7_chart_input").off().on("input change", function () {
            var t = jQuery(this).data("property"),
                a = e,
                l = Number(this.value);
            e.startDuration = 0, "innerRadius" == t && (l += "%"), a[t] = l, e.validateNow()
        }), $("#chart_7").closest(".portlet").find(".fullscreen").click(function () {
            e.invalidateSize()
        })
    }
</script>
    
